{% extends "movies/header.html" %}

{% block content %}
    <div class="container py-5">
        <h2>Title: "{{movie.title}}"</h2>
            {% if not movie.avg_rating %}
                <p>This movie still was not rated by anyone </p>
            {% else %}
                <p>This movie was rated as <strong>{{ movie.avg_rating }}</strong> out of 10 by our users</p>
            {% endif %}
            {% if rating_by_user %}
                <p>You rated this movie as <strong>{{ rating_by_user }}</strong> out of 10</p>
                <a href="{% url 'movies:update-rating' movie.id %}">Change your rating</a><br>
                <a href="{% url 'movies:delete-rating' movie.id %}">Delete your rating of this movie</a><br>
            {% else %}
                <a href="{% url 'movies:rate-movie' movie.id %}">Rate this movie</a><br>
            {% endif %}
            <a href="{% url 'movies:movie-reviews' movie.id %}">Read reviews of this movie</a>
            <img src="{{ movie.poster.url }}" alt="Movie poster" style="width: 10%; float: right; margin-right: 10px;">
            <p>{{ movie.synopsis }}</p>
            <p>Release date: <strong>{{ movie.release_date }}</strong></p>
            <p>Country: <strong>{{ movie.get_country_display }}</strong></p>
            <p>Genres:</p>
            {% for genre in movie.genres.all %}
                <a href="{% url 'movies:movies-by-genre' genre.slug %}">{{ genre }}</a><br>
            {% endfor %}
    </div>
{% endblock %}