{% extends "movies/header.html" %}

{% block content %}
    <div class="container py-5">
        <h2>Title: "{{movie.title}}"</h2>
            {% if not movie.avg_rating %}
                <p>This movie still was not rated by anyone </p>
            {% else %}
                <p>This movie was rated as <strong>{{ movie.avg_rating }}</strong> out of 10 by our users</p>
            {% endif %}
            {% if rating_by_user %}
                <p>You rated this movie as <strong>{{ rating_by_user }}</strong> out of 10</p>
                <form action="{% url 'movies:update-rating' movie.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Change your rating</button>
                </form>
                <form action="{% url 'movies:delete-rating' movie.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Delete your rating of this movie</button>
                </form>
            {% else %}
                <form action="{% url 'movies:rate-movie' movie.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Rate this movie</button>
                </form>
            {% endif %}
            <img src="{{ movie.poster.url }}" alt="Movie poster" style="width: 10%; float: right; margin-right: 10px;">
            <p><strong>Synopsis:</strong></p>
            <p>{{ movie.synopsis }}</p>
            <p><strong>Genres:</strong></p>
            {% for genre in movie.genres.all %}
                <a href="{% url 'movies:movies-by-genre' genre.slug %}">{{ genre }}</a><br>
            {% endfor %}
            <p><strong>Release date:</strong> {{ movie.release_date }}</p>
            <p><strong>Country: </strong> {{ movie.get_country_display }}</p>
            <a href="{% url 'movies:movie-reviews' movie.id %}">Read reviews of this movie</a>
    </div>
{% endblock %}